<h1 class="mt-4">
  <i class="fas fa-briefcase"></i> Produtos</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">{{ produto.id ? 'Edição' : 'Cadastro'}}</li>
</ol>
<div class="container">
  <form #produtoForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-success" role="alert" *ngIf="success == true">
          Produto Salvo/Atualizado com sucesso!
        </div>

        <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
          {{ erro }}
        </div>
      </div>
    </div>

    
    <div class="row">
      <div class="col-md-3">
        <button type="submit" class="btn btn-outline-success" *ngIf="!produto.id">
          <i class="fa fa-save"></i>
          Salvar
        </button>

        <button type="submit" class="btn btn-outline-primary" *ngIf="produto.id">
          <i class="fa fa-sync-alt"></i>
          Atualizar
        </button>

        <button type="button" class="btn btn-outline-danger ml-1" (click)="voltarParaListagem()">
          <i class="fa fa-arrow-alt-circle-left"></i>
          Voltar
        </button>
      </div>
    </div>

    <div class="row" *ngIf="produto.id">
      <div class="col-md-6">
        <div class="form-group">
          <label>ID:</label>
          <input type="text" class="form-control" [ngModel]=produto.id name="id" disabled=true />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>Data de Cadastro:</label>
          <input type="text" class="form-control" [ngModel]="produto.dataCadastro" name="dataCadastro" disabled=true />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Nome: *</label>
          <input type="text" [(ngModel)]="produto.nome" name="nome" class="form-control" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Descrição:</label>
          <input type="text" [(ngModel)]="produto.descricao" name="descricao" class="form-control" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Estoque: *</label>
          <input type="number" [(ngModel)]="produto.estoque" name="estoque" class="form-control" />
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label>Categoria: *</label>
          <input type="text" [(ngModel)]="produto.categoria" name="categoria" class="form-control" />
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label>Marca: *</label>
          <input type="text" [(ngModel)]="produto.marca" name="marca" class="form-control" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Valor de Venda: *</label>
          <input type="number" [(ngModel)]="produto.valorVenda" name="valorVenda" class="form-control"/>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label>Valor de Custo: *</label>
          <input type="number" [(ngModel)]="produto.valorCusto" name="valorCusto" class="form-control"/>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label>Fabricante: </label>
          <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="produto.idFabricante">
            <option value="">Selecione...</option>
            <option *ngFor="let fabricante of fabricantes" [ngValue]="fabricante.id">
              {{ fabricante.nome }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </form>
</div>
