<h1 class="mt-4">
  <i class="fas fa-users"></i> Clientes</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Consulta</li>
</ol>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-success" role="alert" *ngIf="mensagemSucesso">
        {{ mensagemSucesso }}
      </div>

      <div class="alert alert-danger" role="alert" *ngIf="mensagemErro">
        {{ mensagemErro }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <button class="btn btn-outline-warning" (click)="novoCadastro()">
        <i class="fa fa-plus"></i> Novo
      </button>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-md-12">
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th class="text-center">ID</th>
            <th class="text-center">Nome</th>
            <th class="text-center">CPF</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes">
            <td class="text-center">{{ cliente.id }}</td>
            <td class="text-center">{{ cliente.nome }}</td>
            <td class="text-center">{{ cliente.cpf }}</td>
            <td>

              <button class="btn btn-outline-primary" routerLink="/clientes/form/{{cliente.id}}">
                <i class="fa fa-pencil-alt"></i>
              </button>

              <button class="btn btn-outline-danger ml-1" (click)="preparaDelecao(cliente)" 
                      data-toggle="modal" data-target="#modalDelecao">
                <i class="fas fa-trash-alt"></i>
              </button>

              <button class="btn btn-outline-info ml-1" (click)="preparaVerificacao(cliente)" 
                      data-toggle="modal" data-target="#modalVerificacao">
                <i class="fa fa-search"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id="modalVerificacao" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Dados do Cliente</h4>
        </div>

        <div class="modal-body " *ngIf="clienteVerificacao">
          <table class="table table-responsive">
            <thead>
              <th class="text-center">ID</th>
              <th class="text-center">Data de Cadastro</th>
            </thead>
            <tbody>
              <td>{{ clienteVerificacao.id }}</td>
              <td>{{ clienteVerificacao.dataCadastro }}</td>
            </tbody>
            <br />
            <ol class="breadcrumb mb-4">
              <li class="breadcrumb-item active">Dados Pessoais</li>
            </ol>
            <thead>
              <th class="text-center">Nome</th>
              <th class="text-center">CPF</th>
              <th class="text-center">RG</th>
              <th class="text-center">Estado Civil</th>
              <th class="text-center">Sexo</th>
              <th class="text-center">Data de Nascimento</th>
            </thead>
            <tbody>
              <td class="text-center">{{ clienteVerificacao.nome }}</td>
              <td class="text-center">{{ clienteVerificacao.cpf }}</td>
              <td class="text-center">{{ clienteVerificacao.rg }}</td>
              <td class="text-center">{{ clienteVerificacao.estadoCivil }}</td>
              <td class="text-center">{{ clienteVerificacao.sexo }}</td>
              <td class="text-center">{{ clienteVerificacao.dataNascimento }}</td>
            </tbody>
            <br />
            <thead>
              <th class="text-center">Telefone</th>
              <th class="text-center">Celular</th>
              <th class="text-center">Email</th>
            </thead>
            <tbody>
              <td class="text-center">{{ clienteVerificacao.telefone }}</td>
              <td class="text-center">{{ clienteVerificacao.celular }}</td>
              <td class="text-center">{{ clienteVerificacao.email }}</td>
            </tbody>
            <br />
            <thead>
              <th class="text-center">Endereço</th>
              <th class="text-center">Bairro</th>
              <th class="text-center">Número</th>
              <th class="text-center">Cep</th>
              <th class="text-center">Complemto</th>
              <th class="text-center">Cidade</th>
              <th class="text-center">Estado</th>
            </thead>
            <tbody>
              <td class="text-center">{{ clienteVerificacao.endereco }}</td>
              <td class="text-center">{{ clienteVerificacao.bairro }}</td>
              <td class="text-center">{{ clienteVerificacao.numero }}</td>
              <td class="text-center">{{ clienteVerificacao.cep }}</td>
              <td class="text-center">{{ clienteVerificacao.complemento }}</td>
              <td class="text-center">{{ clienteVerificacao.cidade }}</td>
              <td class="text-center">{{ clienteVerificacao.estado }}</td>
            </tbody>
          </table>
        </div>
        <br />

        <div class="modal-footer">
          <button class="btn btn-outline-danger" data-dismiss="modal">
            <i class="fa fa-times"></i> Fechar
          </button>
        </div>
      </div>
    </div>
  </div>

  <div id="modalDelecao" class="modal fade" role="dialog">
    <div class="modal-dialog responsive">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Confimação</h4>
        </div>

        <div class="modal-body" *ngIf="clienteSelecionado">
          Confirma a Deleção do(a) Cliente - {{ clienteSelecionado.nome }}
        </div>

        <div class="modal-footer">
          <button class="btn btn-outline-success" (click)="deletarCliente()" data-dismiss="modal">
            <i class="fas fa-check"></i> Confirmar
          </button>

          <button class="btn btn-outline-danger" data-dismiss="modal">
            <i class="fa fa-times"></i> Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
